<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Felhasználó lista</title>
    </head>
    <body>
        <h1>Felhasználók</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Név</th>
                <th>Státusz</th>
                <th>Létrehozva</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td>
                    <a href="user.html"
                       th:text="${user.id}"
                       th:href="@{/spring-web/user/{id}(id=${user.id})}">0</a>
                </td>
                <td th:text="${user.username}">John Doe</td>
                <td th:text="${user.status}">ACTIVE</td>
                <td th:text="${#temporals.format(user.createdAt, 'yyyy. MMMM dd. HH:mm')}">2023. május 1. 16:48</td>
            </tr>
            </tbody>
        </table>
        <a href="add_user.html"
           th:href="@{/spring-web/addUser}">Új felhasználó</a>
    </body>
</html>